.login {
    width: 30vw;
}

.ui.form {
    display: flex;
    flex-direction: column;
}

.container.login-button {
    display: flex;
}


.login-link {
    margin: 0 0 0 auto;
    align-self: flex-end;
}